Repository sqlectron/sqlectron-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

Fix lint error on setSelectLimit method
  src/browser/core/db.ts
  src/browser/preload.ts
  src/common/types/api.ts
  src/renderer/actions/config.ts
Due: eslint --fix, prettier --write

Use port 9000 for webpack-dev-server
  src/browser/window.ts
  webpack.config.js
Due: eslint --fix, prettier --write

Fix hot module reloading
  package-lock.json
  package.json
  src/renderer/containers/root.tsx
  src/renderer/entry.tsx
  src/renderer/index.html
  src/renderer/reducers/connections.ts
  src/renderer/store/configure.ts
  webpack.config.js
Due: eslint --fix, prettier --write

Add useEffectDebugger hook for development use
  src/renderer/hooks/index.ts
  src/renderer/hooks/useEffectDebugger.ts
  src/renderer/hooks/usePrevious.ts
Due: eslint --fix, prettier --write

Replace mkdirp dependency with regular node code
  package-lock.json
  package.json
  src/browser/core/utils/index.ts
Due: eslint --fix, prettier --write

added nl2sql button
  src/renderer/components/query.tsx
Due: eslint --fix, prettier --write

Capitalize Sqlectron in menus
  src/browser/menu/darwin.ts
  src/browser/menu/linux.ts
  src/browser/menu/win32.ts
  src/common/utils/string.ts
  src/renderer/components/server-modal-form.tsx
  test/common/utils/test.string.ts
Due: eslint --fix, prettier --write

remove duplicate csv-stringify
  package-lock.json
  package.json
Due: prettier --write

do not change package-lock.json
  package-lock.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update build/icon.icns to conform to Big Sur style
  build/icon.icns
Due: none

wired to api
  src/renderer/components/query.tsx
Due: eslint --fix, prettier --write

manually pass in chinook schema for mvp
  src/renderer/components/query.tsx
Due: eslint --fix, prettier --write

add new reducer to get all tables and columns for nl2sql
  src/renderer/reducers/table_columns.ts
Due: eslint --fix, prettier --write

add action for table columns reducer
  src/renderer/actions/columns.ts
Due: eslint --fix, prettier --write

add column table reducer to root file
  src/renderer/reducers/index.ts
Due: eslint --fix, prettier --write

pass prop function for table columns between ui components
  src/renderer/components/query-tabs.tsx
  src/renderer/components/query.tsx
  src/renderer/containers/query-browser.tsx
Due: eslint --fix, prettier --write

Replace GH_TOKEN with GITHUB_TOKEN
  .github/workflows/publish.yml
Due: none

Bump version to 1.38.0
  package.json
Due: prettier --write

Update build/icon.icns to conform to Big Sur style (#682)
  build/icon.icns
Due: none

Run npm audit fix
  package-lock.json
Due: prettier --write

Fix spurious sqlite e2e test failure
  test/e2e/test.sqlite.ts
Due: eslint --fix, prettier --write

Skip mysql e2e tests on CI
  test/e2e/test.ssh-mysql.ts
Due: eslint --fix, prettier --write

update sqlectron-db-core sub-dependencies
  package-lock.json
Due: prettier --write

Skip mysql e2e tests on CI (#706)
  test/e2e/test.ssh-mysql.ts
Due: eslint --fix, prettier --write

Fix spurious sqlite e2e test failure (#704)
  test/e2e/test.sqlite.ts
Due: eslint --fix, prettier --write

fix(query-browser): 🐛 remove the height prop from ResizableBox
  package-lock.json
  package.json
  src/renderer/containers/query-browser.tsx
Due: eslint --fix, prettier --write

ci: update actions/checkout to v3
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

ci: update actions/setup-node to v3
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

ci: update actions/upload-artifact to v3
  .github/workflows/build.yml
Due: none

Fix search crash
  src/renderer/components/database-list-item.tsx
  src/renderer/containers/query-browser.tsx
  src/renderer/containers/server-management.tsx
  src/renderer/utils/search.ts
Due: eslint --fix, prettier --write

Update CI github actions versions (#719)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Update LICENSE, fix license year
  LICENSE
Due: none

Remove slack reference from development README
  docs/development/README.md
Due: prettier --write

Update github actions versions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

downgrade macos
  .github/workflows/build.yml
Due: none

disable macos, update linux
  .github/workflows/build.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none
