Repository sqlectron/sqlectron-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Corrected capitalization of GitHub in footer
  src/renderer/components/footer.jsx
Due: eslint --fix, prettier --write

Convert loader to typescript (#673)
  src/renderer/components/loader.jsx
  src/renderer/components/loader.tsx
Due: eslint --fix, prettier --write

Add hotkey to quick format query contents (#674)
  package-lock.json
  package.json
  src/browser/menu/darwin.ts
  src/browser/menu/linux.ts
  src/browser/menu/win32.ts
  src/common/event.ts
  src/renderer/components/query.jsx
Due: eslint --fix, prettier --write

move to lockfile v2
  package-lock.json
Due: prettier --write

Update package-lock.json file
  package-lock.json
Due: prettier --write

Bump version to 1.37.0
  package-lock.json
  package.json
Due: prettier --write

Bump version to 1.37.0 (#676)
  package-lock.json
  package.json
Due: prettier --write

Make lodash.clonedeep a regular dependency
  package-lock.json
  package.json
Due: prettier --write

Make csv-stringify a regular dependency
  package-lock.json
  package.json
Due: prettier --write

Bump version to 1.37.1
  package-lock.json
  package.json
Due: prettier --write

Update version of npm used in workflow
  .github/workflows/build.yml
Due: none

Update version of npm used in workflow (#684)
  .github/workflows/build.yml
Due: none

Fixed a minor issue where switching query tab causes a loss of focus on the ace editor.
  src/renderer/components/query.jsx
Due: eslint --fix, prettier --write

Add signing to macOS deploy process
  .github/workflows/publish.yml
Due: none

Migrate from node-sass to sass dependency
  package-lock.json
  package.json
Due: prettier --write

Update @storybook devDependencies
  package-lock.json
  package.json
Due: prettier --write

Add Editor/IDE gitignores
  .gitignore
Due: none

Run npm audit
  package-lock.json
Due: prettier --write

Update tsc to skipLibCheck
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

Upgrade react-ace to latest (9.4.4) to fix issue with editing query after execution
  package-lock.json
  package.json
  src/renderer/components/query.jsx
Due: eslint --fix, prettier --write

Upgrade react-ace to ^9.4.4 (#683)
  package-lock.json
  package.json
  src/renderer/components/query.jsx
Due: eslint --fix, prettier --write

Fixed bug where switching tab causes loss of focus on editor (#687)
  src/renderer/components/query.jsx
Due: eslint --fix, prettier --write

Add notarization process to macos builds
  build/entitlements.mac.plist
  build/notarize.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Upgrade sqlectron-db-core to 0.10.1
  package-lock.json
  package.json
Due: prettier --write

Update mocha to 9.2.0
  package-lock.json
  package.json
Due: prettier --write

Bump version to 1.38.0-alpha.2
  package-lock.json
  package.json
Due: prettier --write

Fix Adapter typing for SqlectronApi
  src/browser/core/db.ts
  src/browser/core/utils/convert.ts
  src/common/types/api.ts
  src/common/types/database.ts
Due: eslint --fix, prettier --write

Use full lodash over deprecated per-method packages
  package-lock.json
  package.json
  src/browser/config.ts
  src/browser/core/db.ts
  src/renderer/actions/queries.ts
  src/renderer/components/database-diagram-shapes.js
  src/renderer/components/database-list-item-metadata.jsx
  src/renderer/components/preview-modal.jsx
  src/renderer/components/query-result-table-cell.jsx
  src/renderer/components/query-result-table.jsx
  src/renderer/components/query-result.jsx
  src/renderer/components/query.jsx
  src/renderer/components/server-filter.jsx
  src/renderer/components/server-modal-form.jsx
  src/renderer/components/settings-modal-form.jsx
  src/renderer/containers/query-browser.jsx
Due: eslint --fix, prettier --write

Convert server-filter to TS functional component
  src/renderer/components/server-filter.jsx
  src/renderer/components/server-filter.tsx
Due: eslint --fix, prettier --write

Convert server list components to TS functional components
  src/common/types/server.ts
  src/renderer/components/server-list-card.tsx
  src/renderer/components/server-list-item.tsx
  src/renderer/components/server-list.jsx
  src/renderer/components/server-list.tsx
Due: eslint --fix, prettier --write

Convert update-checker component to TS
  src/renderer/components/update-checker.tsx
Due: eslint --fix, prettier --write

Convert footer component to TS
  src/renderer/components/footer.jsx
  src/renderer/components/footer.tsx
Due: eslint --fix, prettier --write

Ignore vendor folder from GH language stats
  .gitattributes
Due: none

Convert wait util to TS
  src/renderer/utils/wait.ts
Due: eslint --fix, prettier --write

Convert message component to TS functional component
  src/renderer/components/message.jsx
  src/renderer/components/message.tsx
Due: eslint --fix, prettier --write

Update classnames to 2.3.1
  package-lock.json
  package.json
Due: prettier --write

Improve logic for query editor focusing
  src/renderer/components/query.jsx
  src/renderer/containers/query-browser.jsx
Due: eslint --fix, prettier --write

Improve logic for query editor focusing (#690)
  src/renderer/components/query.jsx
  src/renderer/containers/query-browser.jsx
Due: eslint --fix, prettier --write

Create unique ContextMenu per database item
  src/renderer/components/database-list-item.jsx
Due: eslint --fix, prettier --write

Convert DatabaseFilter to TS functional component
  src/renderer/components/database-filter.jsx
  src/renderer/components/database-filter.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
